!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: @description, name: "description"}/
    %meta{content: "Tim Wade", name: "author"}/
    %link{href: "../../favicon.ico", rel: "icon"}/
    %title #{ @title }
    %link{href: "css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "css/blueimp-gallery.min.css", rel: "stylesheet"}/
    %link{href: "css/custom.css", rel: "stylesheet"}/
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    %script{src: "https://www.google.com/recaptcha/api.js", async: "", defer: ""}
  %body
    - if flash[:success]
      .alert.alert-success.alert-dismissable{role: "alert"}
        %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{"aria-hidden" => true} ×
        = flash[:success]
    - if flash[:danger]
      .alert.alert-danger.alert-dismissable{role: "alert"}
        %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{"aria-hidden" => true} ×
        = flash[:danger]
    - if @message.errors.any?
      - @message.errors.full_messages.each do |message|
        .alert.alert-danger.alert-dismissable{role: "alert"}
          %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{"aria-hidden" => true} ×
          = message


    .modal.fade#contactModal{"tabindex" => "-1", role: "dialog", "aria-labelledby" => "contactModal", "aria-hidden" => true}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title Contact
          .modal-body
            %form{action: "/contact", method: "post", role: "form"}
              .form-group
                %label{for: "name"} Name
                %input.form-control{type: "text", name: "name", placeholder: "Enter name"}
              .form-group
                %label{for: "email"} Email address
                %input.form-control{type: "email", name: "email", placeholder: "Enter email"}
              .form-group
                %label{for: "body"} Message
                %textarea.form-control{name: "body", rows: "4"}
              .g-recaptcha{"data-sitekey" => "6LeLgv4SAAAAACQb5Pp2A_joznU9bHb09MWdjj6E"}
              %br
              %button.btn.btn-default{type: "submit"} Submit

    .container.wrapper
      .row
        .page-header
          %h1
            Heather Pfaff
            %small Stylist
      .row
        .col-xs-2
          %ul.nav.nav-stacked
            %li{class: ('active' if @active == :home)}
              %a{href: "/"} Home
            %li{class: ('active' if @active == :fashion)}
              %a{href: "/fashion"} Fashion
            %li{class: ('active' if @active == :beauty)}
              %a{href: "/beauty"} Beauty
            %li{class: ('active' if @active == :covers)}
              %a{href: "/covers"} Covers
            %li{class: ('active' if @active == :bio)}
              %a{href: "/bio"} Bio
            %li
              %a{"data-toggle" => "modal", "data-target" => "#contactModal"} Contact
        .col-xs-10
          =yield
      .push
    .footer
      .container
        %p.pull-right
          %a{href: "#"} Back to top
        %p &copy; Heather Pfaff #{ Date.today.year }. All rights reserved

  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{src: "js/jquery.blueimp-gallery.min.js"}
  %script{src: "js/bootstrap-image-gallery.min.js"}
  %script{src: "js/bootstrap.min.js"}
  %script{src: "js/blueimp-gallery.min.js"}
  %script{src: "js/custom.js"}
